<section class="answers">
    <div class="container">
        <div class="answers-subtitle">Результат прохождения теста
            <img src="/img/arrow-small-grey.png" alt="arrow">
            <div class="answers-pre-title" id="pre-title"></div>
        </div>
        <h2 class="answers-title big-title"><span>Правильные ответы</span> к тесту</h2>
        <div class="answers-person" id="answers-person">Тест выполнил <span id="answers-person-span"></span></div>
        <div class="answers-question" id="answers-question">
            
        </div>

        <div class="right-answers-action">
            <a href="javascript:void(0)" id="pass">Обратно к моему результату теста</a>
            <img src="img/arrow-small.png" alt="arrow-small">
        </div>
    </div>
</section>