<section class="choice">
    <div class="container">
        <div class="choice-content">
            <h1 class="choice-title common-title">Выберите <span>тему теста</span></h1>
            <div class="choice-descr">Чтобы начать тест, выберите одну из предложенных ниже тем.</div>
            <div class="choice-options" id="choice-options">

            </div>
        </div>
        <div class="form-img">
            <img src="/img/choice-image.png" alt="people">
        </div>
    </div>
</section>